body{
	background: black;
}

h1 	{
    	color: blue;
		transition:all 1s ease;
	}

p 	{
  	  color: red;
	}

.header 	{

	        padding: 15px 10px;
            height: 25px;
            min-width: 50px;
            color: red;
            background-color: black;
            font-size: 30px;
        }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
    float: left;
}

li a {
    display: block;
    color: #fffff0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
} 

.subparts{
	padding-top: 20px;
	color: #fffff0;
	font-family: arial black;
	font-size: 16px;
}


.subparts2{
	padding-top: 30px;
	color: #fffff0;
	font-family: arial black;
	font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;  
  transition:all 1s ease;

}

img:hover{
  transform: scale(1.4);  
}


.movie-poster {
  padding-top: 20px;
  padding-bottom: 50px; 
  float: left;
  height:200px;
  width: 150px;
  margin-right: 10px;

}
